site_name: Ensō
# site_url:
site_author: Hugo Sadok
site_description: >-
  Ensō is a fast and flexible streaming interface for NIC-Application communication.

# Repository
repo_name: crossroadsfpga/enso
repo_url: https://github.com/crossroadsfpga/enso

# Copyright
copyright: Copyright &copy; 2023 <a href=https://hsadok.com target="_blank">Hugo Sadok</a>

# docs_dir: .

theme:
  name: material
  features:
    # - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  language: en
  palette:
    - scheme: default
      primary: black
      accent: black
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/enso-black.svg
  logo: assets/enso-white.svg

extra:
  version:
    provider: mike

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

markdown_extensions:
  - abbr
  - attr_list
  - md_in_html
  - footnotes
  - admonition
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

# Note that we are using the awesome-pages plugin, therefore nav is defined in
# the .pages file present in each directory.
# nav:

plugins:
  - search
  - awesome-pages
