name: docs
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: sudo apt-get update
      - run: sudo apt-get install -y python3-pip npm g++ libpcap-dev texlive-font-utils
      - run: wget https://www.doxygen.nl/files/doxygen-1.9.6.linux.bin.tar.gz
      - run: tar xzvf doxygen-1.9.6.linux.bin.tar.gz
      - run: cp doxygen-1.9.6/bin/* /usr/local/bin/
      - run: python3 -m pip install meson ninja
      - run: python3 -m pip install -r docs/requirements.txt
      - run: sudo npm install -g teroshdl
      - run: meson setup build
      - run: meson compile docs -v -C build
      - run: mkdocs gh-deploy --force
